// backgrounds
%bg--main {
  background-color: #1e1e1e;
}

%bg--primary {
  background-color: #262626;
}

%bg--secondary {
  background-color: #4b4b4b;
}

%bg--extra1 {
  background-color: #ccc;
}

// fonts
%font_color--primary {
  color: #d8d8d8;
}

%link_color {
  color: #d1d4b9;
}

%link_color--hover {
  color: #fff;
}

%font_color--h2 {
  color: #f5f3da;
}

// unsorted
%color--pink {
  background-color: #c32349;
}

%icon_holder_text {
  color: #3b443f;
}